<div class="grid">
    <div class="information-bar">
            <div class="grid__item one-half ">
                    <p >{{section.settings.e-mail}}</p>
                </div>
                <div class="grid__item one-half information-bar__block-right">
                    <p>{{section.settings.telefono}}</p>
                </div>
    </div>
    
</div>