<div class="grid">
    <div class="information-bar">
            <div class="info-bar-email">
                    <p >{{section.settings.e-mail}}</p>
                </div>
                <div class="info-bar-telefono">
                    <p>{{section.settings.telefono}}</p>
                </div>
    </div>
    
</div>