{%assign logo_search= 'search_2x.png'  | asset_img_url: '30X30'  %}
      
<div class="search-div" >
    <img
         src="{{ logo_search }}"
         data-aspectratio="{{ logo_search.aspect_ratio }}"
         alt="{{ logo_search.alt | escape }}">
  </div>