{%assign logo_login= 'login_2x.png'  | asset_img_url: '36X36'  %}
      
<div  class="login-cart-div">
    <img
         src="{{ logo_login }}"
         data-aspectratio="{{ logo_login.aspect_ratio }}"
         alt="{{ logo_login.alt | escape }}">
  </div>