{%assign icon_hamburguer= 'mobile-menu_2x.png'  | asset_img_url: '30X30'  %}
      
<div  class="login-cart-div">
    <img
         src="{{ icon_hamburguer }}"
         data-aspectratio="{{ icon_hamburguer.aspect_ratio }}"
         alt="{{ icon_hamburguer.alt | escape }}">
  </div>