
<div class="">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon-hamburguer " width="30" height="30" viewBox="0 0 30 30">
            <path fill="#80174B" d="M4.21 8.742a.955.955 0 1 1 0-1.909H25.3a.955.955 0 1 1 0 1.91H4.21zm0 6.682a.955.955 0 1 1 0-1.909H25.3a.955.955 0 1 1 0 1.91H4.21zm0 6.682a.955.955 0 1 1 0-1.909H25.3a.955.955 0 1 1 0 1.91H4.21z"></path>
        </svg>
</div>

